table{
    width:600px;
    margin:0 auto;
}

thead th, tfoot td{
    background-color: rgb(80, 77, 77);
    color:white;
}

td, th{
    padding:10px;
    font-size:2em;
}

table, td, th{
    border: 1px solid grey;
}

.bf{
    font-style:italic;
}

tbody tr:nth-child(odd){
    background-color: rgb(198, 192, 192);
}
tbody tr:nth-child(1){
    font-weight: bold;
    background-color: rosybrown;
    color:black;
}

table{
    text-align:center;
    font-family:"Ubuntu", sans-serif;
}

thead{
    font-size:1.3em;
}

tfoot{
    font-size: 0.6em;
}

.hl{
    background-color: rgb(80, 77, 77);
    color:white;
}