/* SMALL SCREEN */
.bold{
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 700;
  text-decoration:none;
}
.semibold{
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  text-decoration:none;
}
.regular{
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  text-decoration:none;
}

#homebody{
  background-image: url(images/background.jpg);
  background-repeat: repeat;
}

footer{
  color:black;
  text-align: center;
  padding: 20px;
  background-color:lightblue;
  margin:0
}
footer i{
  padding:0 10px
}

#topblock{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.logoblock{
    width:120px;
    margin:0 auto;
}

.logo{
    width:100%;
    border-radius:50%;
}

#menu li{
    text-decoration: none;
    padding-left:0;
    margin-left:0;
}

#menu{
    padding-left:0;
    margin-left:0;
}

/* w3schools */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #e1e1e1;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    /* color: #f1f1f1; */
    color: #818181;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

 span{
    display:block;
    margin: 20px auto 0 auto;
    text-align:center;
 }

  /* @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  } */
/* end of w3schools */


/* Nice vs Naughty Cats */
#niceNaughty{
  display:grid;
  grid-template-columns: 1fr;
}
#niceCat, #naughtyCat{
  width:95%;
  margin:0 auto;
}
#niceCat img, #naughtyCat img{
  width:100%;
  border-radius: 10px;
  
}

#niceCat p, #naughtyCat p{
  font-size:1.4em;
  margin-top:0;
  padding: 0 10px;
  background-color: none;
}

#niceCat h2, #naughtyCat h2{
  text-align: center;
}
#thanks{
  margin:100px;
  text-align:center;
}
#smilingcat{
  display:block;
  width:100%;
  margin:0 auto;
}

#myFile{
  width:200px;
  font-size:1em;
}

#addcat{
  display:block;
  width:95%;
  margin: 20px auto;
}

#addcat input{
  margin: 10px 0;
  height:25px;
  width:100%;
}
#breed{
  border: 1px solid grey;
}

#addcat .regular{
  font-size:1.4em;
}
#catcolors{
  width:100%;
}
option{
  font-size:1.2em;
  padding-top:5px;
}
select{
  margin-top:10px;
  height:120px;
  padding:0 5px 5px 5px
}
input[type=file]::file-selector-button{
  background-color: transparent;
  border: 1px solid grey;
}
input[type=file]::file-selector-button:hover{
  background-color: #e1e1e1;
  border: 1px solid grey;
}
#addcat input[type=file]{
  font-size:1.2em;
  padding:5px 0;
}
#addcat input[type=submit]{
  background-color: transparent;
  border:1px solid grey;
  font-size:1.2em;
  padding:12px 32px;
  width:auto;
  height:auto;
}
#addcat input[type=submit]:hover{
  background-color: #e1e1e1;
}

#viewcats{
  display:block;
  margin:0 auto;
}

#viewcatsul{
  display:flex;
  flex-wrap:wrap;
  padding:0;
}
#viewcatsul li{
  list-style: none;
  height:40vh;
  flex-grow:1;
  overflow:hidden;
  margin-top:20px;
}
#viewcatsul img{
  max-width:100%;
  min-height:100%;
  object-fit: cover;
  vertical-align:bottom;
  border-radius: 10px;
}

#generateMain{
  display:block;
  width:100%;
  margin:0 auto;
  overflow: hidden;
}

#generateMain img{
  width:100%;
}

#generateCat{
  text-align: center;
}

#generateBtn{
  display:block;
  margin:20px auto;
  padding:12px 32px;
  text-align: center;
  font-size:1.6em;
}

#filter-color{
  height:30px;
  margin-top:30px;
  font-size:1.2em;
}



/* MEDIUM SCREEN */
@media only screen and (min-width: 45em){
    .logoblock{
        width:180px;
        margin:0 auto;
    }

    .overlay {
      height: auto;
      width: 100%;
      position:static;
      z-index: 1;
      background-color: transparent;
      overflow-x:visible;
      transition: none;
    }
    
    .overlay-content {
      display:flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 2.4em;
      color: black;
      transition: 0.3s;
      display:inline;
    }
    
    .overlay a:hover, .overlay a:focus {
      /* color: #f1f1f1; */
      color: #919191;
    }
    
    .overlay .closebtn {
      display:none;
    }
  
   span{
      display:none;
   }

    #niceNaughty{
      margin:20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
    #niceCat, #naughtyCat{
      width:80%;
      margin:0 auto;
    }

    #niceCat:hover, #naughtyCat:hover{
      width:80%;
      margin:0 auto;
      -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      transform: scale(1.05); 
    }

    #niceCat img, #naughtyCat img{
      width:100%;
      border-radius: 10px;
    }

    #niceCat p, #naughtyCat p{
      background-color: transparent;
      font-size:1.8em;
      margin-top:20px;
      padding: 0 10px;
      padding:20px;
    }
    
    #niceCat h2, #naughtyCat h2{
      text-align: left;
      font-size:2em;
      padding: 0 10px;
      height:100px;
    }

    footer{
      margin-top:70px;
      font-size:1.8em;
    }

    #myFile{
      width:200px;
      font-size:1em;
    }
    
    #addcat{
      display:block;
      width:95%;
      margin: 20px auto;
    }
    
    #addcat input{
      margin: 10px 0;
      height:30px;
      width:100%;
    }
    #breed{
      border: 1px solid grey;
    }
    
    #addcat .regular{
      font-size:1.6em;
    }
    #catcolors{
      width:100%;
    }
    option{
      font-size:1.6em;
      padding-top:5px;
    }
    select{
      margin-top:10px;
      height:140px;
      padding:0 5px 5px 5px
    }
    input[type=file]::file-selector-button{
      background-color: transparent;
      border: 1px solid grey;
      padding:10px;
    }
    input[type=file]::file-selector-button:hover{
      background-color: #e1e1e1;
      border: 1px solid grey;
    }
    #addcat input[type=file]{
      font-size:1.2em;
      padding:20px 0;
    }
    #addcat input[type=submit]{
      background-color: transparent;
      border:1px solid grey;
      font-size:1.6em;
      padding:12px 32px;
      width:auto;
      height:auto;
    }
    #addcat input[type=submit]:hover{
      background-color: #e1e1e1;
    }

    #addcatfooter{
      margin-top:20px
    }
  
    #viewcatsul{
      display:flex;
      flex-wrap:wrap;
      padding:0;
    }
    #viewcatsul li{
      list-style: none;
      flex:30%;
      height:auto;
      overflow:hidden;
      margin:20px;
    }
    #viewcatsul img:hover{
      transform:scale(0.96)
    }
    #viewcatsul img{
      transition: transform 0.25s;
    }

    #generateMain img{
      width:40%;
      display:block;
      margin:0 auto;
    }

    #generatefooter{
      margin-top:10px;
    }

    #thankyoufooter{
      margin-top:0;
    }
}




/* LARGE SCREEN */
@media only screen and (min-width: 75em){
  #niceNaughty{
    margin:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  #niceCat, #naughtyCat{
    width:80%;
    margin:0 auto;
    position:relative;
  }
  
  #niceCat:hover, #naughtyCat:hover{
    width:80%;
    margin:0 auto;
    position:relative;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }
  
  #niceCat img, #naughtyCat img{
    width:100%;
    border-radius: 10px;
  }
  
  #niceCat p, #naughtyCat p{
    font-size:1.8em;
    margin-top:20px;
    padding: 0 10px;
    position:absolute;
    z-index:2;
    bottom:5px;
    background:#e1e1e1;
    padding:20px;
  }
  
  #niceCat h2, #naughtyCat h2{
    text-align: left;
    font-size:2em;
    padding: 0 10px;
  }
  
  footer{
    margin-top:70px;
    font-size:1.8em;
  }
}
/* 
#menu li:nth-of-type(2){
    font-size:50px;
    background-color: #777777;
} */

