/* Small screen css */
body{
    width:fit-content
}

nav a{
    text-decoration: none;
    color: #001F3F;
    font-size: 1em;
    margin-right:8px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 3%; */
}

#home_page_header img{
    max-width:90px;
    margin:0 auto;
}

nav a:hover{
    border-bottom:3px solid #001F3F;
}
#logo_link:hover{
    border-bottom:none;
}

.home_page_video {
    justify-self: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.home_grid {
    display:grid;
    grid-template-columns: 1fr;
    /* border: 3px solid #001F3F; */
    color:#001F3F;
    margin:0
}

.bold{
    padding:10px;
    margin:0;
    font-weight: 700;
}

.home_grid p{
    padding-left:10px;
    padding-right:10px;
    color: rgb(0,31,63);
}

/* <video> tag */
#myVideo{  
    object-fit: cover;
    object-position: top;
    width:100%;
    margin:auto;
    
}

#logopic{
    width:200px;
}


footer{
    display:flex;
    background-color: rgb(0,31,63, 0.2);
    color: rgb(0,31,63);
    font-size:0.6em;
}

footer div{
    margin:auto;
    text-align: center;
}



/* medium screen */
@media only screen and (min-width:750px){
    nav a{
        font-size: 1.8em;
    }
    
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 4%;
    }
    
    #home_page_header img{
        max-width:280px;
    }
    
    #myVideo{
        width:100%;
        margin:0 auto;  
    }

    .home_grid p, h3{
        font-size:1.6em;
    }
    .home_grid{
        grid-template-columns: 1fr 1fr;
        margin: auto
    }

    .home_grid_left{
        align-self: top;
    }
    
    #myVideo {
        object-fit: cover;
        object-position: top;
        width:100%;
        margin:auto;
        
    }

    footer{
        font-size: 1.3em;
    }
    
}